:root {
  --white: hsl(0, 0%, 100%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --grey: hsl(0, 0%, 95%);
  --orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-size: 15px;
}

body {
  background-color: var(--grey);
  font-family: 'Lexend Deca', sans-serif;
  height: 100vh;
  width: 100%;
  font-weight: 400;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

h1,
p {
  color: var(--white);
}

p {
  line-height: 1.67;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
}

.cards {
  width: 85%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.card {
}

.card--sedan {
  background-color: var(--orange);
}
.card--suv {
  background-color: var(--dark-cyan);
}
.card--luxury {
  background-color: var(--very-dark-cyan);
}

h1 {
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
}

button {
}
